<h1 id="team-info">Team Info</h1>
<div class="team-member">
    <ul>
        <li>
            <div class="info">Bio:</div>
            <div class="description">Аз съм Георги и искам да ви помогна да промените живота си!</div>
        </li>

        <li>
            <div class="info">Image:</div>
            <div class="image"><img id="georgi" src="images/georgi-nenov.jpg" alt="georgi"></div>
        </li>
        <li>
            <div class="info">Gender:</div>
            <div class="description">Male</div>
        </li>
        <li>
            <div class="info">Personal Information:</div>
            <div class="description">Георги Ненов. 30-годишен. Обвързан. Можещ, вярващ и непобеден от нищо!</div>
        </li>
        <li>
            <div class="info">Personal Interests:</div>
            <div class="personal-interests">Личностно развитие, Физическо развитие, Нови идеи, Предизвикателства,
                Футбол, Програмиране, Мотори,
                Автомобили.. и още толкова много!
            </div>
        </li>
        <li>
            <div class="info">Email:</div>
            <div class="description">georgi.nenov.superman@gmail.com</div>
        </li>
    </ul>
</div>

<div class="team-member">
    <ul>
        <li>
            <div class="info">Bio:</div>
            <div class="description">Аз съм Теодор и съм част от екипа създал този сайт.</div>
        </li>
        <li>
            <div class="info">Image:</div>
            <div class="image"><img id="teodor" src="images/teodor-dimitrov.png" alt="georgi"></div>
        </li>
        <li>
            <div class="info">Gender:</div>
            <div class="description">Male</div>
        </li>
        <li>
            <div class="info">Personal Information:</div>
            <div class="description">Теодор Димитров. 27-годишен. Можещ и вярващ в успеха</div>
        </li>
        <li>
            <div class="info">Personal Interests:</div>
            <div class="personal-interests">Личностно развитие, Нови идеи, Предизвикателства,
                Компютърни игри,Програмиране.
            </div>
        </li>
        <li>
            <div class="info">Email:</div>
            <div class="description">teodordimitrov908@yahoo.com</div>
        </li>
        <li>
            <div class="info">GitHub:</div>
            <div class="description">https://github.com/TeodorDimitrov89</div>
        </li>
    </ul>
</div>
<div class="team-member">
    <ul>
        <li>
            <div class="info">Bio:</div>
            <div class="description">Аз съм Георги и искам да ви помогна да промените живота си!</div>
        </li>
        <li>
            <div class="info">Image:</div>
            <!--<div class="image"><img id="yordan" src="images/yordan-bogoyski.jpg" alt="georgi"></div>-->
        </li>
        <li>
            <div class="info">Gender:</div>
            <div class="description">Male</div>
        </li>
        <li>
            <div class="info">Personal Information:</div>
            <div class="description">Георги Ненов. 30-годишен. Обвързан. Можещ, вярващ и непобеден от нищо!</div>
        </li>
        <li>
            <div class="info">Personal Interests:</div>
            <div class="personal-interests">Личностно развитие, Физическо развитие, Нови идеи, Предизвикателства,
                Футбол, Програмиране, Мотори,
                Автомобили.. и още толкова много!
            </div>
        </li>
        <li>
            <div class="info">Email:</div>
            <div class="description">georgi.nenov.superman@gmail.com</div>
        </li>
    </ul>
</div>


<div class="team-member">
    <ul>
        <li>
            <div class="info">Bio:</div>
            <div class="description">Аз съм Мирослав и съм член на екипа, създал сайта "Свръхчовекът".</div>
        </li>

        <li>
            <div class="info">Image:</div>
            <div class="image"><img id="miroslav" src="images/miroslav-zhelezchev.jpg" alt="Miroslav" title="Miroslav"></div>
        </li>
        <li>
            <div class="info">Gender:</div>
            <div class="description">Male</div>
        </li>
        <li>
            <div class="info">Personal Information:</div>
            <div class="description">Мирослав Железчев. 34-годишен. Смел и постоянен в постигането на успеха.</div>
        </li>
        <li>
            <div class="info">Personal Interests:</div>
            <div class="personal-interests">Програмиране, Иновации, Футбол, Автомобили.
            </div>
        </li>
        <li>
            <div class="info">Email:</div>
            <div class="description">miroslav_georgiev_2000@yahoo.com</div>
        </li>
        <li>
            <div class="info">GitHub:</div>
            <div class="description">https://github.com/Merkanto</div>
        </li>
    </ul>
</div>


<footer>
    <p class="footer-text">&copy; SOFTUNI Legend Team 2016, All Rights Reserved</p>
</footer>