{{#articleContent}}
<li class="single-article">
    <article id="post">
        <h3 class="article-title"><a href="#/article/{{_id}}" class="links-header">{{title}}</a></h3>
        <p class="subtitle">Posted on {{date}} by {{author}}</p>
        <p class="article-content">{{content}}</p>
        <a href="#/tag/?tag={{tag}}" class="links">{{tag}}</a>
        <br>
        <a href="#/create/comment/{{_id}}" class="links">Add Comment</a>
        <a href="#/edit/article/?id={{_id}}" class="links">Edit Article</a>
        <a href="#/delete/article/?id={{_id}}" class="links">Delete Article</a>
    </article>
    <br>
</li>
{{/articleContent}}