<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
    <div>
        <h1 class="audio-tag">Личностно развитие.</h1>
        <iframe class="audio-tag" width="854" height="480" src="https://www.youtube.com/embed/fC9A22x6UME" frameborder="0" allowfullscreen></iframe>
        <p class="audio-tag">Личностно развитие. Дефиниция. Не чакай живота да те промени. Ти управлявай промените в живота си. Инвестирай в личностно развитие. Систематично. </p>
        <span class="audio-tag">(Ясен Николов)</span>
    </div>
    <br><br>

    <hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
    <br>

    <h1 class="audio-tag">СПЕСТЯВАЙ, за да Забогатяваш!</h1>
    <iframe class="audio-tag" width="854" height="480" src="https://www.youtube.com/embed/5lq0jczKGTo" frameborder="0" allowfullscreen></iframe>
    <p class="audio-tag">СПЕСТЯВАЙ, за да Забогатяваш! Технологии на Просперитета. Силата за благоденствието е собствената ти психика.</p>
    <span class="audio-tag">(Ясен Николов)</span>
    <br>
    <br>
    <hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
</body>
</html>