<div class="main-nav">
	<nav>
		<!--ToDO make logo as hyperlink-->
		<div id="logo">
			<img id="icon" src="../images/c_logo_2.png" alt="logo"/>
		</div>
		<ul>
			<li class="single-menu-element">
				<a href="#/articles" class="single-menu-element-link">
					All Articles
				</a>
			</li>
			<li class="single-menu-element">
				<a href="#/article/create" class="single-menu-element-link">
					Create Article
				</a>
			</li>

			<li class="single-menu-element">
				<a href="#/logout" class="single-menu-element-link">Logout</a>
			</li>

			<li class="single-menu-element">
				<a href="#/about" class="single-menu-element-link">About</a>
			</li>
		</ul>
	</nav>
</div>
<main class="main-content">

</main>