<header class="title">Login</header>
<div class="login">
	<section id="login-content">
		<form>
			<div>
				<label for="username">Username:</label>
			</div>
			<input type="text" value="" placeholder="Enter Username" id="username" required="true" autofocus
			       autocomplete="on"/>
			<div>
				<label for="password">Password:</label>
			</div>
			<input type="password" value="" placeholder="Enter password" id="password" required="true"
			       autocomplete="off"/>
			<div>
				<input type="button" id="login-request-button" value="Login"/>
			</div>
		</form>
	</section>
	<br>
	<a href="#/register" class="links">Register here</a>
</div>