<div class="new-article-block">
    <h2 id="editor-title">edit article</h2>
    <form id="article-form">
        <ul class="title-author">
            <li class="single-element-form">
                <h1 class="title-form">Article Title:</h1>
                <input type="text" value="" placeholder="Title" id="article-title"/>
            </li>
            <li class="single-element-form">
                <h1 class="title-form">Author:</h1>
                <input type="text" value="" placeholder="Author" id="article-author" disabled>
            </li>
        </ul>
        <h1 id="title-form">Content:</h1>
        <textarea class="content-field" placeholder="Content" id="article-content"></textarea>
        <br>
        <button type="button" id="edit-article-request-button">Edit Article</button>
    </form>
</div>

<footer>
    <p class="footer-text">&copy; SOFTUNI Legend Team 2016, All Rights Reserved</p>
</footer>