<header class="title">Registration</header>
<div class="register">
    <section id="register-content">
        <form>
            <div><label for="username">Username: </label></div>
            <div><input type="text" id="username" required="required" placeholder="Enter username"></div>

            <div><label for="fullname">Full Name: </label></div>
            <div><input type="text" id="fullname" required="required" placeholder="Enter full name"></div>

            <div><label for="password">Password: </label></div>
            <div><input type="password" id="password" required="required" placeholder="Enter password"></div>

            <div><label for="password">Confirm password: </label></div>
            <div><input type="password" id="passConfirm" required="required" placeholder="Confirm password"></div>

            <div><label for="email">E-mail: </label></div>
            <div><input type="email" id="email" required="required" placeholder="Enter your E-mail"></div>

            <button type="button" id="register-request-button">Register</button>
        </form>
    </section>
</div>