<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link type="text/css" rel="stylesheet" href="../styles/login-style.css"/>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="wrapper">
    <header class="login-title">LOGIN</header>
    <div class="login">
        <section id="content">
            <form>
                <div>
                  <label for="username">Username:</label>
                </div>
                <input type="text" value="" placeholder="" id="username" required="" autofocus autocomplete="on"/>
                <div>
                 <label for="password">Password:</label>
                </div>
                <input type="password" value="" placeholder="" id="password" required="" autocomplete="off"/>
                <div>
                    <input type="submit" id="button-login" value="Submit"/>
                </div>
            </form>
        </section>
            <br>
        <a href="#/register">Register</a>
        <a href="welcome-guest.html">Homepage</a>
    </div>
</div>
</body>

</html>