<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/form-style.css">
</head>
<body>
<header class="login-title">LOGIN</header>

<div class="login">
    <section id="content">
        <form>
            <div>
                <label for="username">Username:</label>
            </div>
            <input type="text" value="" placeholder="" id="username" required="" autofocus autocomplete="on"/>
            <div>
                <label for="password">Password:</label>
            </div>
            <input type="text" value="" placeholder="" id="password" required="" autocomplete="off"/>
            <div>
                <button type="button" id="button-login">Submit</button>
            </div>
        </form>
    </section>
    <br>
    <a href="#/register">Register</a>
</div>
</body>
</html>
