<div class="main-nav">
    <nav>
        <!--ToDO make logo as hyperlink-->
        <div id="logo">
            <img id="icon" src="images/c_logo_2.png" alt="logo"/>
        </div>
        <ul>
            <li class="single-menu-element">
                <a href="#/home" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/create/articles" class="single-menu-element-link">
                    Create Article
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/video" class="single-menu-element-link">
                    Video
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/audio" class="single-menu-element-link">
                    Audio
                </a>
            </li>


            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">Logout</a>
            </li>

            <li class="single-menu-element">
                <a href="#/about" class="single-menu-element-link">About</a>
            </li>
        </ul>
    </nav>
</div>