<div class="main-nav">
    <nav>
        <div id="logo">
            <img id="icon" src="images/logo.jpg" alt="logo"/>
        </div>
        <ul>
            <li class="single-menu-element">
                <a href="#/home" class="single-menu-element-link">Home</a>
            </li>

            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">Logout</a>
            </li>

            <li class="single-menu-element">
                <a href="#/about" class="single-menu-element-link">About</a>
            </li>
        </ul>
    </nav>
</div>