<div class="main-nav">
    <nav>
        <!--ToDO make logo as hyperlink-->
        <div id="logo">
            <img id="icon" src="images/c_logo_2.png" alt="logo"/>
        </div>
        <ul>
            <li class="single-menu-element">
                <a href="#/home" class="single-menu-element-link">Home</a>
            </li>

            <li class="single-menu-element">
                <a href="#/login" class="single-menu-element-link">Login</a>
            </li>

            <li class="single-menu-element">
                <a href="#/about" class="single-menu-element-link">About</a>
            </li>

        </ul>
    </nav>
</div>