<head>
    <meta charset="UTF-8">
    <title>video</title>

</head>

<body>

    <div>
        <div id="video-title">
            <h1>Success means doing the best we can with what we have. Success is the doing, not the getting; in the trying, not the triumph. Success is a personal standard, reaching for the highest that is in us, becoming all that we can be.</h1>
        </div>
        <hr>
        <div class="video">
            <iframe  width="700" height="460" src="https://www.youtube.com/embed/fviFNrWKzZ8" frameborder="0" allowfullscreen >
            </iframe>
        </div>

        <div class="video">
            <iframe width="700" height="460" src="https://www.youtube.com/embed/AjZ0KbJcav0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>