<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

<div id="wrapper">

    <div id="nav">
        <div id="logo"><img id="icon" src="../images/c_logo_2.png" alt=""></div>
        <ul>
            <li><a href="#">Articles</a></li>

            <li><a href="#">Audio</a></li>

            <li><a href="#">Video</a></li>

            <li><a href="login.html">Login</a></li>

            <li><a href="#">About</a></li>
        </ul>
    </div>
    <main>
        <header class="blog-title">
            <h3>The Super-Human Podcast</h3>
        </header>
        <article>
            <h1>Article1</h1>


            <p>
                <img id="img" src="../images/imgArticle.jpg" alt="Image Description">
            <h2>Здравейте, приятели!</h2>
                Искам да споделя една „топла“ история с Вас. Преди няколко дни на гости вкъщи дойдоха двама от
                най-добрите ми приятели. Двама от най-близките ми хора, с които се познаваме от 20 години и сме
                прекарали толкова много време заедно. Ей така, да се видим, да си поговорим. Без никаква конкретна цел.
                Просто приятелско събиране след работа. Но се случи нещо съвсем различно. Увлечен от нещата, които в
                момента правя, започнах да говоря за „Свръхчовекът: как да живеем живота на мечтите си“ и темата, която
                ме интересува най-много в този конкретен период от живота ми, а именно – личностно развитие. Разказах им
                за вдъхновяващите ми запознаства, за идеите, които няколко много интересни книги посяха у мен, за
                интервютата, които съм изслушал, за всичко това, което в момента ме кара да се събуждам с усмивка всеки
                ден. Заедно обсъдихме моментните състояния в животите ни, силните ни страни, слабите ни страни, грешките
                и случките, които са ни превърнали в хората които сме, нашите любими дейности и през цялото време се
                стараехме да мислим за това, което трябва да направим сега, на момента, веднага, за да се развиваме, за
                да може още утре да сме по-добра версия на себе си, за да може след 5 години като седнем на верандата на
                къща край морето да се сетим как във вечерта на 20ти Юли сме започнали, защото сме взели решението и сме
                предприели първите крачки към нашия успех. В края на вечерта се чувствах сякаш всяка дума, която съм
                изрекъл, е попила дълбоко съзнанията им. Заедно анализирахме ситуациите, заедно достигахме до
                заключенията. Установих, че за първи път в живота си съм провел разговор за развитие и успех с
                най-близките си приятели. Сега ги усещам още по-близки от преди. Обратната връзка, която получих на
                другия ден беше: „Много добри неща говори и абсолютно правилни.“ от едната страна и „ ... ти направо ни
                дърпаш напред дори само с това, че имаме възможност да си общуваме вече на това ниво и ме надъха супер
                много да работя, за да поддържаме това високо...“ Аз съм същият човек! Не съм се променял. Поне аз така
                си мислех. Явно съм в грешка и се чувствам невероятно горд от този факт, че в очите на най-близките ми
                приятели съм този, който ги води напред. Този, който ги вдъхновява и мотивира. С всеки изминал ден се
                приближавам до моята мечта, а сега съм сигурен, че и те също са по-близо до техните мечти!
                Какво изключително чувство е това!
            </p>
        </article>
        <article>
            <h1>Article2</h1>
            <h2>„Започни преди да си готов“</h2>
            <p>
                Няколко дни след първото ми събитие, свързано с осъществяване на моята мечта – Да вдъхновявам и
                мотивирам хората, реших да седна и да напиша първата си статия. Избрах този цитат („Започни преди да си
                готов“), защото той перфектно описва това, което се случи в четвъртък 14.Юли от 19:00 до 21:00 часа в
                зала „Tech & Knowledge“ на Софтуерния Университет в София. Аз започнах преди да съм готов! Направих
                първата крачка на „Свръхчовека: Как да живеем живота на мечтите си“ посредством
                лекция-презентация-разказ, която изобщо не бях планирал. Просто възможността се появи и аз я „грабнах“.
                Самият факт, че основното съдържание на проекта ми още не е налично показва, че „започнах преди да съм
                готов“. Сигурно се питате какво ще бъде „основното съдържание“, но за това ще ви разкажа малко по-натам.
                За сега ще се придържаме към мечтата ми, плановете за осъществяването й и моето първо събитие.
                Моето първи събитие беше прекрасно. Чувството да не поканиш никого лично, но да се появят хора, които са
                ти приятели, състуденти, както и напълно непознати, за да видят кой си и какво искаш да кажеш, е
                невероятно! Успях да разкажа много накратко за себе си и опита, който съм придобил за последните няколко
                години, тренирайки редовно, хранейки се възможно най-чисто и превръщайки се в най-добрата версия на мен
                самия. Пропуснах ужасно много неща, които щеше да е хубаво да кажа. Възможно е да има хора, които да са
                останали разочаровани от съдържанието на моята „презентация“, но целта ми не беше да давам акъл (както
                видяхте и ракия не носех, така че нямаше как да дам и ракия), а да се опитам да провокирам желание за
                действие, разказвайки за ползите, които моят труд в залата донесе на мен самия. Моят живот се промени
                към по-добро във всяко едно отношение. В основата на това беше да започна съзнателно да следя какво ми
                казва тялото при всяко действие/бездействие и при всяко хранене/отсъствие на такова. Моля ви, вгледайте
                се в знаците, които вашите тела и умове ви дават ежедневно. Това е пътят, който неминуемо ще ви доведе
                до открития, свързани с това как да промените живота си и да бъдете по-щастливи.
                Защо започнах преди да съм готов? Защото ако не аз, кой? Защото ако не сега, кога? Никой няма да започне
                да работи по това аз да сбъдна своята мечта. То не е и работа на никого да го прави. Аз съм
                единственият, който е отговорен за това. Аз съм единственият, на когото тази мечта (Точно тази конкретна
                мечта!) е дадена и моето бездействие би я убило. Ако хора като Майкъл Джордан и Хенри Форд не бяха
                работили върху сбъдването на своите мечти, те нямаше да станат известни като едни от най-успешните хора,
                живяли някога. Ако Томас Едисон беше положил тези над 10 000 опита, за да създаде електрическата крушка,
                никой, никога нямаше да е чувал за него. За това, аз – Георги Ненов, реших да действам! След като с
                колегите от СофтУни решихме да има такова събитие – „Свръх-човекът: как да бъдем по-здрави“ реших, че
                няма как това да не е „знакът, който търся“.
                “I have been impressed with the urgency of doing. Knowing is not enough; we must apply. Being willing is
                not enough; we must do.” /Leonardo da Vinci/
                Започнах! По пътя си ще се срещам с успешни хора и вдъхновяващи примери, които ще използвам, за да ви
                мотивирам да бъдете проактивни и да променяте непрекъснато живота си към по-добро. Готови ли сте? Не?
                Няма значение – ние започваме преди да сме готови!
                * ”Start before you are ready” /Steven Pressfield/
                ** Благодаря на моя приятел - Юли Тонкин, който ми напомни за тази вдъхновяваща мисъл и който е източник
                на мотивация за мен самия!
            </p>
        </article>
        <footer>
            <p class="footer-text">&copy; SOFTUNI Legend Team 2016, All Rights Reserved</p>
        </footer>
    </main>
</div>
</body>
</html>





