<nav id="mainNav">
	<!--ToDO make logo as hyperlink -->
	<div id="logo">
		<a href="#/"><img id="icon" src="images/c_logo_2.png" alt="logo"/></a>
	</div>
	<ul>
		<li class="single-menu-element">
			<a href="#/home" class="single-menu-element-link">Home</a>
		</li>

		<li class="single-menu-element">
			<a href="#/login" class="single-menu-element-link">Login</a>
		</li>

		<li class="single-menu-element">
			<a href="#/about" class="single-menu-element-link">About</a>
		</li>
	</ul>
</nav>

<main class="main-content">
	<header class="blog-title">
		<h2>The Super-Human Podcast</h2>
	</header>
	<article>
		<!--<div><img id="img" src="images/imgArticle.jpg" alt="Image Description"></div>-->
		<ul class="articles">

		</ul>
	</article>
	<footer>
		<p class="footer-text">&copy; SOFTUNI Legend Team 2016, All Rights Reserved</p>
	</footer>
</main>