<link rel="stylesheet" href="../styles/style.css">
<div class="logo"><img id="img" src="../images/logowebsite.png" alt=""></div>
<div id="nav">
    <div id="nav_wrapper">
        <ul>
            <li><a href="#">Homepage</a>
            </li>
            <li> <a href="#">Articles</a>
                <ul>
                    <li><a class="sub" href="#">Last 5 Articles</a></li>
                    <li><a class="sub" href="#">Best Articles</a></li>
                </ul>
            </li>
            <li> <a href="#">Audio</a></li>

            <li> <a href="#">Video</a></li>

            <li> <a href="login.html">Login</a></li>

            <li> <a href="register.html">Register</a></li>

            <li> <a href="#">About</a></li>
        </ul>
    </div>
</div>
<main class="main-content">
    <header class="blog-title">
        <h3>This is the official Super-Human Website</h3>
    </header>
    <article>
        <h1>Article1</h1>
        <p>The article element represents a component of a page that consists of a self-contained composition in a document, page, application, or site and that is intended to be independently distributable or reusable, e.g. in syndication. This could be a forum post, a magazine or newspaper article, a blog entry, a user-submitted comment, an interactive widget or gadget, or any other independent item of content.</p>
    </article>
    <article>
        <h1>Article2</h1>
        <p>The article element represents a component of a page that consists of a self-contained composition in a document, page, application, or site and that is intended to be independently distributable or reusable, e.g. in syndication. This could be a forum post, a magazine or newspaper article, a blog entry, a user-submitted comment, an interactive widget or gadget, or any other independent item of content.</p>
    </article>
    <article>
        <h1>Article3</h1>
        <p>The article element represents a component of a page that consists of a self-contained composition in a document, page, application, or site and that is intended to be independently distributable or reusable, e.g. in syndication. This could be a forum post, a magazine or newspaper article, a blog entry, a user-submitted comment, an interactive widget or gadget, or any other independent item of content.</p>
    </article>
</main>
<footer>
    <p class="footer-text">&copy; SOFTUNI Legend Team 2016, All Rights Reserved</p>
</footer>