#team-info {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 40px;
}
.team-member {
    border-bottom: 2px solid #dadada;
}
.info {
    display: inline-block;
    word-wrap: break-word;
    padding-bottom: 10px;
    width: 100px;
}
.description,.personal-interests {
    display: inline-block;
    word-wrap: break-word;
}

.image {
    display: inline-block;
}
#georgi,#yordan,#teodor, #miroslav {
    width: 200px;
    height: 200px;
}
