.audio-tag {
    margin-right: auto;
    margin-left: auto;
    display:block;
    width:700px;
    text-align: center;
}

hr {
    border-color: black;
}
.empty {
    height: 30px;
    background-color:black;
    width: 100%;
}