.login{
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.7);
    margin: 10% auto;
    width: 40%;
    height: 55%;
    padding: 10px;
    text-align: center;
}
.login-title{
    font: 55px Oswald;
    font-weight: 600;
    color: black;
    padding: 0 10px 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

#content{
    background-color: silver;
}

#button-login {
    font: 15px Lato;
    color: white;
    background-color: black;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    width: 20%;
}
