.new-article-block {
    width: 250px;
}

.new-article-block {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.7);
    background: #f2f2f2;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;

}


#editor-title {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font: 24px Lato-Black;
    text-align: center;
}

#article-form {
    background: silver;
    border-radius: 20px;
    margin: 10px;
}

#create-new-article-request-button {
    font: 15px Lato;
    color: white;
    background-color: black;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    width: auto;

}

.single-element-form {
    display: inline-block;
    width: 48%;
    padding-top: 20px;
}

.content-field {

    resize: none;
    border: 3px solid #f2f2f2;
    outline: none;
    width: 550px;
    height: 300px;
    border-radius: 15px;
    text-align: left;
    font: 12px Lato-Light;
    padding: 10px;

}

.footer-text {
    text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title-form {
    text-align: center;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

