/*#video-title {*/
    /*text-align: center;*/
    /*margin-top: 30px;*/
    /*padding: 15px;*/
/*}*/

#video-blog-title {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    font: 20px Oswald;
    font-weight: 600;
    background-color: silver;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.7);
}

.video {
    padding-left: 145px;
    padding-top: 45px;
    padding-bottom: 45px;

}

/*.video-content {*/
    /*width: 95%;*/
    /*margin: 30px auto;*/
/*}*/
