/*#video-title {*/
    /*text-align: center;*/
    /*margin-top: 30px;*/
    /*padding: 15px;*/
/*}*/

#video-title {
    text-align: center;
    font: 20px Oswald;
    font-weight: 600;
    background-color: silver;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.7);
}

.video {
    margin-right: auto;
    margin-left: auto;
    display:block;
    width:700px;
}

/*.video-content {*/
    /*width: 95%;*/
    /*margin: 30px auto;*/
/*}*/
